[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tm1py = "*"
openpyxl = "*"
pyarrow = "*"

[dev-packages]
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
